@import url("https://use.typekit.net/pgj6oax.css");

body{
	margin:0px;
	padding:0px;

	overflow-y: none;
}

h1{
	font-size: 10vw;


	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 800;
}

p{

	font-size: 5vw;
	margin:0px;

	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 500;
}

.whole{
	display: flex;

	padding-bottom: 0px;
	margin-bottom: 0px;

	height: 80vh;
	overflow-y: hidden;

	position:fixed;
}

.leftScroll{

	width:50%;
	height: 99vh;

	padding:3vw;
	padding-bottom:0px;

	background-color: white;

	overflow-y: scroll;

	text-align: center;

}

.gallery{
}

.gallery img{
	width:100%;

	text-align: center;

	padding-top: 4vw;
	padding-bottom: 4vw;
}


.rightScroll{

	width:50%;
	height: 99vh;

	padding:3vw;
	padding-bottom:0px;

	/*background-color: grey;*/

	overflow-y: scroll;

	text-align: center;
	
}

.bottom{
	height: 20vh;
}





.container{
	height: 100%;
}













.main{
	display: flex;

	padding-bottom: 0px;
	margin-bottom: 0px;

	height: 100%;
	width:100%;

	position: fixed;
}


.left{
	background-color: white;

	display: flex;
	flex-direction: column;

	width:25vw;
	text-align: center;

	overflow-y: scroll;
}

.left img{

	width:100%;

	text-align: center;

	padding-top: 4vw;
	padding-bottom: 4vw;

	align-self: center;
}





.right{
	background-color: white;

	display: flex;
	flex-direction: column;

	width:25vw;
	text-align: center;

	overflow-y: scroll;
}

.right img{

	width:100%;

	text-align: center;

	padding-top: 4vw;
	padding-bottom: 4vw;

	align-self: center;
}

.desktopRight{
	width:50%;
	height: 100%;

	background-color: lightgrey;

	padding:2vw;

	text-align: center;
}














#turf {
display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightgreen;
  margin-top: 20px;
}

#spriteJump {
display: none;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightgreen;
  margin-top: 20px;
}

#myDiv{
	height: 100px;
	width:100px;
	background-color: red;
}

button {
  background-color: white;
  border: white;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:focus {outline:0;}










@media screen and (max-width: 1500px){



.main{
	display: flex;

	padding-bottom: 0px;
	margin-bottom: 0px;

	height: 100%;
	width:100%;

	position: absolute;
}


.left{
	background-color: white;

	display: flex;
	flex-direction: column;

	width:50vw;
	text-align: center;

	overflow-y: scroll;
}

.left img{

	width:100%;

	text-align: center;

	padding-top: 4vw;
	padding-bottom: 4vw;

	align-self: center;
}





.right{
	background-color: white;

	display: flex;
	flex-direction: column;

	width:50vw;
	text-align: center;

	overflow-y: scroll;
}

.right img{

	width:100%;

	text-align: center;

	padding-top: 4vw;
	padding-bottom: 4vw;

	align-self: center;
}

.desktopRight{
	display: none;
}





.bigImage{
	text-align: center;

	padding: 2vw;

	padding-top: 5vh;
	padding-bottom: 0vw;
}

.bigImage img{
	width:80vw;
	height: 100%;
}

.description{
	text-align: left;


	padding:8vw;
	padding-top: 0vw;
	padding-bottom: 6vh;
}








}




