body{
	margin:0px;
	padding:0px;

	overflow-y: none;
}

p{
	font-size: 4vw;
}

.whole{
	display: flex;

	padding-bottom: 0px;
	margin-bottom: 0px;
}

.leftScroll{

	width:50%;
	height: 99vh;

	padding:3vw;
	padding-bottom:0px;

	/*background-color: lightgrey;*/

	overflow-y: scroll;

	text-align: center;

}

.gallery{
}

.gallery img{
	width:100%;

	text-align: center;

	padding-top: 4vw;
	padding-bottom: 4vw;
}


.rightScroll{

	width:50%;
	height: 99vh;

	padding:3vw;
	padding-bottom:0px;

	/*background-color: grey;*/

	overflow-y: scroll;

	text-align: center;
	
}

.bottom{
	height: 20vh;
}


